.textb {
  display: block;
  margin: 10px 0;
  margin-left: 10px;
}
.box2 {
  position: relative;
  /* border: 2
px
 solid; */
  /* display: none; */
  width: 450px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  margin: 16px 1rem;
  background-color: #ffffff;
}
.box2 button:hover {
  background-color: #40404e;
}
.box2 button img {
  width: 20px;
  /* margin-top: 29
  px
  ; */
  margin-bottom: -5px;
}
.hideb {
  display: none;
  margin: 5px 0 20px 0;
  margin-left: 10px;
  background: none;
  border: none;
  width: 90%;
  border-bottom: 1px solid rgb(207, 207, 207);
  outline: none;
  padding-left: 5px;
  font-size: 16px;
}
.upload {
  display: none;
}
